@import '~bootstrap/scss/bootstrap';

$black: #000;

.success {
  // green
  background-color: $green;
}

.failure {
  // red
  background-color: $red;
}

.hidden {
  display: none;
}

.border {
  border: 3px solid $black;
  margin: 20px;
  padding: 20px;
}

.td.O {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color:#455c7b;
}
.td.X {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color:#ac6c82;

}

.table {

	border-collapse: collapse;
	left: 50%;
	margin-left: -80px;
  	position: absolute;
	top: 600px;
  display: flex;
    font-size: 12vh;
    justify-content: center;
    min-height: calc(100% / 3);

    &:nth-child(3n) {
      border-right: 0;
    }

    &:nth-last-child(-1n + 3) {
      border-bottom: 0;
    }


}

table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}

body{
  background-color: light-yellow;
}
h1{
  text-align:center;
  font-size:50px;
  color:green;
}
h2{
  text-align:center;
  font-size:35px;
  color:black;
  opacity:0.7;
}

.board{
  height:600px;
  width:600px;
  margin:100px auto;
  display: flex;
}

.arrange {
  text-align: center;
}
select > form {
  display: inline-block;
  margin-top: 20px;
  margin-right:20px;
  margin-left:20px;
  font-size: 20px;
}


.cell {
  border: 5px solid $black;
  height: 200px;
  width: 200px;
  background-color:silver;
  font-size: 80px;
}

h1 {
  text-align:center;
  font-size:100px;
  color: green;
}

h2 {
  color:black;
font-size: 90px;
  opacity:0.6;
}
h3 {
  background-color: white;
  color: black;
}
h4 {
  background-color: white;
    color: black;
}
.game-record
{  text-align: center;
  justify-content: center;
  margin: 0 auto;
  flex-direction: row;
}
